body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: aquamarine;
    background: url('https://images.unsplash.com/photo-1546422904-90eab23c3d7e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80');
    background-repeat: no-repeat;
    background-size: cover; 
}

h1 {
    color: #3B2D6B;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    }

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 30px;
}

footer .links > a {
    color: #4B3A59;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(56, 2, 2);
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-color: #E1E8FA;
    padding: 50px 0 32px;
    text-align: center; 
}

article a {
    color: #615A5F;
    text-decoration: none;
}

article a:hover {
    color: #D4C5CF;
}

article h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}
.article-meta {
    color: #948A91;
    margin-bottom: 5px;
}

article .img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article:nth-child(even) {
    background-color: rgba(30, 53, 82, 0.7)
}

.new::before {
    content: "new ";
    color: #E06C17;
}